body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

h1 {
  color: red;
  margin: 20px 60px 30px;
  padding: 1em;
}
h5 {
  margin-left: 200px;
}

/*About*/
.sec-about {
  text-align: center;
  background-color: #716f81;
  color: #f7f7f7;
}

.webshopButton {
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
}

.row-grey {
  background: #111;
  color: #ddd;
}
.companyLogoImage {
  float: none;
  margin: 0 auto;
}

img.sponsorLogo {
  color: blue;
}

.leftImage {
  background-color: blue;
  padding: 5px 0px 0px;
}

.rightImage {
  padding: 0px 40px 0px 0px;
}

.sponsorid {
  position: relative;
  float: right;
  margin-bottom: 4rem;
}

.introText {
  text-align: center;
}

.productCard {
  background-image: url('images/flowersBackground.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  max-width: 100%;
  text-align: center;
}

.card-text {
  margin-left: 200px;
}
