body {
  font-family: 'Roboto', sans-serif;

  background-image: url('Images/amin-rk-e5a8TlCzV10-unsplash.jpg');
  background-attachment: scroll;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center top 10%;
}

h1 {
  color: red;
  margin: 20px 60px 30px;
  padding: 1em;
}
h5 {
  margin-left: 200px;
}

.sideNavItem {
  font-size: 30px;
}

/*About*/
.sec-about {
  text-align: center;
  background-color: #716f81;
  color: black;
}

.webshopButton {
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
  background-color: #f7f7f7;
}

.leftLogo {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.sponsorid {
  position: relative;
  float: right;
  margin-bottom: 4rem;
}

.introText {
  background-color: #f7f7f7;
  text-align: center;
  color: black;
  margin-top: 15%;
}

.carouselpics {
  margin-top: 300px;
}

.productCard {
  background-image: url('images/flowersBackground.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  color: black;
  max-width: 100%;
  text-align: center;
}

.card-text {
  margin-left: 200px;
}
